body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color:#E4F9F5;
  /*#E4F9F5*/
}

h1{
  font-size: 500%;

  font-family: 'Sacramento', cursive;
  padding: 0 20px;
  margin: 5% auto 0 auto;
  color: rgb(17,106,140);
  }

h2{
  margin: 2% 2px;
  padding: 0 20px;
  font-size: 200%;
  font-family: 'Montserrat', sans-serif;
  color: rgb(17,106,140);
  font-weight: normal;
}

h3{
  padding: 3% 1%;
  font-size: 150%;
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 2px 3px;
}



.top-container{
  position: relative;
  padding-top: 100px;
}
.bottom-container{
  background-color: #66bfbf;
  margin: 0;
  padding:4% 0 2%;
  height: 20%
}
a{
  color: #247c8a;
  font-family: 'Montserrat', sans-serif;
  text-decoration:none;
  display: inline-block;
  font-size: 1rem;
  margin: 10px 15px;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  margin: auto;
  padding-top: 20px;
  color: #eaf6f6;
  display: inline-block;
  font-size: .75rem;
}

.top-cloud{
  position: absolute;
  right: 15%;
  top: 25%;

}

.bottom-cloud{
  position:absolute;
  left: 10%;
  bottom: 40%;
}

.skill-row{
  padding: 20px;
  width: 75%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  }

.profile-pic{
  border-radius: 100%;
  width: 150px;
  margin:50px auto 0;
}

.skills-p{
  font-size: 80%;
  text-align: justify;
  margin: 0 auto;
 }

.programming-skills{
    border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.social-skills{
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.teamwork{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
  line-height: 2;
}
hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;

  }

.btn {
background: rgba(83,214,194,1);
background: -moz-linear-gradient(top, rgba(83,214,194,1) 0%, rgba(19,115,117,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(83,214,194,1)), color-stop(100%, rgba(19,115,117,1)));
background: -webkit-linear-gradient(top, rgba(83,214,194,1) 0%, rgba(19,115,117,1) 100%);
background: -o-linear-gradient(top, rgba(83,214,194,1) 0%, rgba(19,115,117,1) 100%);
background: -ms-linear-gradient(top, rgba(83,214,194,1) 0%, rgba(19,115,117,1) 100%);
background: linear-gradient(to bottom, rgba(83,214,194,1) 0%, rgba(19,115,117,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53d6c2', endColorstr='#137375', GradientType=0 );
color: white;
padding: 10px;
width: 120px;
margin:0 auto 40px;
text-decoration: none;
display: inline-block;
border-radius:20px;
}

.btn:hover{
  color: black;
  background: rgba(83,219,219,1);
  background: -moz-linear-gradient(top, rgba(83,219,219,1) 0%, rgba(90,214,191,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(83,219,219,1)), color-stop(100%, rgba(90,214,191,1)));
  background: -webkit-linear-gradient(top, rgba(83,219,219,1) 0%, rgba(90,214,191,1) 100%);
  background: -o-linear-gradient(top, rgba(83,219,219,1) 0%, rgba(90,214,191,1) 100%);
  background: -ms-linear-gradient(top, rgba(83,219,219,1) 0%, rgba(90,214,191,1) 100%);
  background: linear-gradient(to bottom, rgba(83,219,219,1) 0%, rgba(90,214,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53dbdb', endColorstr='#5ad6bf', GradientType=0 );

}
